/odoo/
__pycache__/
*.pyc
*.log
*.swp
.env
.vscode/
.idea/
.DS_Store
node_modules/
.odoo/
/tutorials/awesome_gallery/
/tutorials/awesome_kanban/
/tutorials/website_airproof/
/tutorials/awesome_gallery/
/tutorials/awesome_kanban/
/tutorials/website_airproof/
